#jstree {
	display: block; 
	/*float: left;*/
	padding: 10px 10px;
	border-radius: 8px;
}
#jstree .glyphicon-remove {
    color: #c9302c;
}
#jstree .glyphicon-plus {
    color: #449d44;
}
#jstree .glyphicon-pencil {
    color: #3071a9;
}
#jstree .glyphicon-file {
    color: #aaa;
}

#editor {
	min-height: 400px;
}

#actions {
	text-align: center;
	clear: both;
}

#preview iframe {
    min-height: 400px;
    width: 100%;
}
