SUPER_ADMIN = "your.username@gmail.com"
GOOGLE_OAUTH2_CLIENT_ID = "your-client-id.apps.googleusercontent.com"
GOOGLE_OAUTH2_CLIENT_SECRET = "your-client-secret"
DB_URL = 'http://localhost:5984'

CSRF_SESSION_KEY = "change this to a long random string"
SECRET_KEY = "change this to a different long random string"
