{% extends "layout.html" %}
{% block title %}Editor{% endblock %}
{% block content %}
<div class="row">
  <div class="col-sm-4">
    <div id="jstree" style="float: left; margin-right: 50px;">

    </div>
  </div>
  <div class="col-sm-4">
    <pre id="editor">

    </pre>
  </div>
  <div class="col-sm-4">
    <div id="preview">
      <iframe src="/preview/" style="width: 400px; height: 400px;">Your browser doesn't support iFrames.
        #document
        <!DOCTYPE html>
        <html il8n-values="dir:textdirection" subframe dir="ltr">
          <head>
            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
            <title il8n-content="title">file:///preview/ is not found</title>
          </head>
        </html>
      </iframe>
    </div>
  </div>
</div>

<div id="actions"/>
  <button type="submit" class="btn btn-default">
    <span class="glyphicon glyphicon-eye-open"></span> Preview
  </button>
  <button type="submit" class="btn btn-default">
    <span class="glyphicon glyphicon-upload"></span> Publish
  </button>
</div>
{% endblock %}

{% block foot %}
<script src="/static/libs/jstree/jstree.min.js"></script>
<script src="/static/libs/ace/ace.js"></script>
<script>
  var editor = ace.edit("editor");
  editor.setTheme("ace/theme/monokai");
  editor.getSession().setMode("ace/mode/javascript");

  var path = "/api/files";

  $(function() {
    $('#jstree').on('activate_node.jstree', function(e, data) {
      console.log(data);
      if (data.node.original.type == 'file') {
        var serverPath = data.node.original.serverPath;
        editor.setValue(serverPath, -1);
      }
    }).jstree({
      'plugins' : ['types', 'ui', 'themes'],
      'ui' : {
        'select_limit' : 1
      },
      'core' : {
        'data' : {
          "url" : path,
          "dataType" : "json" // needed only if you do not supply JSON headers
        }
     },
     'types' : {
        'file' : {
          'valid_children' : 'none',
          'icon' : 'jstree-file'
        },
        'folder' : {
          'valid_children' : ['file', 'folder']
        }
     }
    });
  });

  function getChildPage() {
    $("#jstree").on("activate_node.jstree", function(e, data) {
          var selected = $('#jstree').jstree(true).get_selected(true)[0];    
          alert("I'm a directory!");
    })
  }

</script>
{% endblock %}
