{% extends "layout.html" %}
{% block title %}Editor{% endblock %}
{% block content %}
<div class="row">
  <div id="tree-col" class="col-sm-2">
    <br/>
    <div id="jstree" style="float: left; margin-right: 50px;">

    </div>
  </div>
  <div id="editor-col" class="col-sm-10">
    <br/>
    <pre id="editor" style="display:none"></pre>
    <div id="editor-unselected">
      <h2>No file selected</h2>
      <p>Select something in the left pane to start editing.</p>
    </div>
    <div id="editor-binary" style="display:none">
      <h2>Download</h2>
      <p><a href="#" class="btn btn-primary"><span class="glyphicon glyphicon-download"></span> Download <span class="filename"></span></a></p>
      <h2>Upload</h2>
      <submit class="btn btn-primary"><span class="glyphicon glyphicon-upload"></span> Upload</submit>
      <input id="input-binary" type="file" class="file">
    </div>
    <div id="actions"/>
      <button type="submit" class="btn btn-default preview">
        <span class="glyphicon glyphicon-eye-open"></span> Preview
      </button>
      <button type="submit" class="btn btn-default publish">
        <span class="glyphicon glyphicon-upload"></span> Publish
      </button>
    </div>
  </div>
  <div id="preview-col" class="col-sm-5" style="display:none">
    <a href="#" onclick="hidePreview()">Close Preview &times;</a>
    <div id="preview">
      <iframe src="/preview/"></iframe>
    </div>
  </div>
</div>

{% endblock %}

{% block foot %}
<script src="/static/libs/jstree/jstree.min.js"></script>
<script src="/static/libs/ace/ace.js"></script>
<script>
  setupEditor("editor");

  $("#actions .preview").click(function(e) {
    if (previewIsDirty) {
      $.ajax("/api/generate", {
        "type": "POST",
        "success": function(data) {
          updatePreview();
          showPreview();
        },
        "error": function(data) {
          updatePreview("about:blank");
        }
      });
    } else {
      showPreview();
    }
  });

  $("#actions .publish").click(function(e) {
    saveDocument();
    location.href = '/publish';
  });

  $("editor-binary .upload").click(function(e) {
    saveBinary();
    location.href = '/upload';
  });

  $(function() {
    $('#jstree').on('activate_node.jstree', function(e, data) {
      if (data.node.original.type == 'file') {
        getDocument(data.node.original.serverPath);
      }
    }).jstree({
      'plugins' : ['types', 'ui', 'themes'],
      'ui' : {
        'select_limit' : 1
      },
      'core' : {
        'data' : {
          "url" : "/api/files",
          "dataType" : "json" // needed only if you do not supply JSON headers
        }
     },
     'types' : {
        'file' : {
          'valid_children' : 'none',
          'icon' : 'jstree-file'
        },
        'folder' : {
          'valid_children' : ['file', 'folder']
        }
     }
    });
  });
</script>
{% endblock %}
