<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Project Tree</title>
    <!-- Load jstree theme -->
    <link rel="stylesheet" type ="text/css" href="libs/jstree/themes/default/style.min.css" />
    <link rel="stylesheet" type ="text/css" href="css/style.css" />
</head>
<body>
   <!-- container setup -->
   <div id="jstree">
   <ul>
        <li>MY EXTREMELY COMPLEX WEBSITE, YOU WOULDN'T UNDERSTAND
            <ul>
                <li id="child_node_1">index.html</li>
                <li>style.css</li>
            </ul>
        </li>
        <li>Other folder</li>
    </ul>
    </div>
    <button>I dunno</button>
<script src="libs/jquery/dist/jquery.js"></script>
<script src="libs/jstree/jstree.min.js"></script>
<script>
$(function () {
    // 6 create an instance when the DOM is ready
    $('#jstree').jstree();
    // 7 bind to events triggered on the tree
    $('#jstree').on("changed.jstree", function (e, data) {
      console.log(data.selected);
    });
    // 8 interact with the tree - either way is OK
    $('button').on('click', function () {
      $('#jstree').jstree(true).select_node('child_node_1');
      $('#jstree').jstree('select_node', 'child_node_1');
      $.jstree.reference('#jstree').select_node('child_node_1');
    });
  });
</script>
</body>
</html>            
